@*<h2>Login</h2>*@

@{
  Layout = null;
  ViewBag.Title = "Login";
}




<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
    Login | ME Portal
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--webfonts-->
  @*<link rel="stylesheet" href="~/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">*@
  <link rel="stylesheet" type="text/css" href="~/Content/Styles/main.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700" rel="stylesheet" type="text/css" />

  <link href="~/Content/Styles/bootstrap.css" rel="stylesheet" />
  <script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
  <style>
    body {
      background: #fff no-repeat center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
      font-family: 'Open Sans', sans-serif;
    }

    .loginImage {
      width: 100px;
      height: 100px;
      margin-left: 120px;
      margin-bottom: 30px;
    }
  </style>

  <script>
    $(document).ready(function () {
      $("#uName").focus(function () {
        $("#errorLB").text("");
      });
    });
  </script>
</head>
<body>
  <div class="container">

    <form method="post" action="~/Home/LoginCheck" id="ctl01" style="max-width: 400px; margin: 0 auto">
      @*<br />
        <br />
        <br />
        <br />
        <br />*@
      <div>
        <br />
        <br />
        <br />
        <img style="margin-left: 40px; margin-bottom:65px;" class="img-responsive" src="~/Content/Images/web_logo.png">
        <div class="wrap-input2 validate-input" data-validate="Name is required">
          <input name="uName" type="text" id="uName" class="input2" placeholder="USER NAME" style="height:50px;" required />
        </div>
        <span><br /></span>
        <div class="wrap-input2 validate-input" data-validate="Name is required">
          <input name="uPassword" type="password" id="uPassword" class="input2" placeholder="PASSWORD" style="height:50px;" required />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pull-right">
          @{

            string errorMsg = (string)Session["LoginError"];
            <label style="color:red" id="errorLB">@errorMsg</label>
            Session["LoginError"] = "";
          }
          <div class="col-md-12">
            <label style="color:#ED1A3B" id="errorLB"></label>
            <input style="margin-left:125px;" type="submit" name="loginBtn" value="LOGIN" id="loginBtn" class="contact2-form-btn" />
          </div>
        </div>
      </div>
    </form>

  </div>
  <!-- /container -->

</body>
</html>
